.section-comm {
    padding: 3rem 1rem 0rem 1rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .section-comm {
        padding: 5rem 1rem 0rem 1rem;
    }
}

#community p {
    color: #e6e6e6;
}