/* ---- Cards ---- */
.faq-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.card {
    background: #c660ebe6;
    backdrop-filter: blur(6px);
    border-image: linear-gradient(to bottom, #6366f1, #14b8a6, #0ea5e9) 1;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: #0f172a;
    transition: box-shadow .2s ease, transform .2s ease;
}

.card:hover {
    box-shadow: 0 0 15px rgba(64, 86, 255, 0.7);
    transform: scale(1.05);
    transition: all 0.3s ease;

}

.hidden {
    display: none;
}

#showMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#show-more {
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background: linear-gradient(to right, #6366f1, #14b8a6, #0ea5e9);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#show-more:hover {
    opacity: 0.85;
}


.card__title {
    margin: 0 0 .4rem 0;
    font-weight: 600;
    font-size: 1.05rem;
}

.card__text {
    margin: 0;
    color: #003241;
}

.card--indigo {
    background: #818cf8;
}

.card--teal {
    background: #2dd4bf;
}

.card--sky {
    background: #38bdf8;
}

.faq_extra {
    display: contents;
}