/* ---- Footer ---- */
.footer {
    background: #1f1f1f;
    color: #858585;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.footer__copy {
    margin: 0;
}

.hellweek:hover {
    color: #caff33;
}

@media (min-width: 700px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}