/* rocket button */

.fa-rocket {
    color: #76a100;
    font-size: 2.5rem;
    transition: transform 0.3s ease, color 30.3 ease;
}

.fa-rocket:hover {
    color: #a0da00;
    font-size: 3rem;
    transform: scale(0.9);
}

.rocket {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 9999;
}

.floating-card img {
    width: 300px;
    height: 200px;
    background: linear-gradient(135deg, #00e5ff, #8a2be2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
}

/* EASTER EGGS */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 1.1rem;
    border-radius: 1rem;
    color: #c9ff35;
    font-size: small;
    text-shadow: 0 0 1px #c9ff35, 0 0 20px #aee31d;
    max-width: 400px;
    background: #0a0a0a;
    box-shadow: 0 0 3px #35ff3c;
    animation: fadeIn 0.5s ease-in-out;
}


.egg-icon {
    align-items: center;
    width: 80px;
    margin-bottom: 1rem;
    animation: bounce 1.2s infinite alternate;
}

/* Button */
#closePopup {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background: transparent;
    border: 2px solid #00fff0;
    border-radius: 8px;
    font-weight: bold;
    color: #00fff0;
    cursor: pointer;
    text-shadow: 0 0 6px #00fff0, 0 0 12px #ff62f5;
    box-shadow: 0 0 12px rgba(0, 255, 240, 0.7);
    transition: all 0.3s ease;
}

#closePopup:hover {
    background: rgba(0, 255, 240, 0.1);
    transform: scale(1.08);
    box-shadow: 0 0 20px #00fff0, 0 0 30px #ff62f5;
}

/* Animations */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}