/* Theme Variables */
:root {
    --text: #111827;

    --radius-lg: 16px;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, .06), 0 4px 8px rgba(0, 0, 0, .04);
    --shadow-md: 0 8px 20px rgba(0, 0, 0, .12);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    align-items: center;
    padding-top: 50px;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--text);
    background: linear-gradient(to top right,
            #1a1a1a 100%,
            #292929 40%,
            #1a1a1a 80%);
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.small-gap {
    margin-top: .5rem;
}